<!-- <section class="property-binding">

  <article>
    <h3>Interpolação</h3>
  </article>

  <article>
    <div>Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">info</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Danger</option>
      </select>

      <br><br>

      <div class="alert {{ classe.value }}" role="alert">
        Texto colorido conforme valor do combobox
      </div>

      <div class="alert" role="alert"
        [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
      <div class="alert" role="alert"
        [class.alert-info]="classe.value == 'alert-info'">Info</div>
      <div class="alert" role="alert"
        [class.alert-warning]="classe.value == 'alert-warning'">Warning</div>
      <div class="alert" role="alert"
        [class.alert-danger]="classe.value == 'alert-danger'">Danger</div>
        <!-- <div class="alert" role="alert"
        [style.display]="classe.value == 'alert.danger' ? 'block : none'">Danger</div>   -->
      <!-- </div>

    

  </article>

</section> -->

<!-- <section class="event-binding">
  <article>
    <h3>Event Binding</h3>
    <div>
      <button (click)="click()" class="btn btn-primary">Click</button>
      <br><br>

      <input type="text" 
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvar(campoInput.value)"
        (blur)="salvar(campoInput.value)"
        #campoInput>

      <p>Valor Atual: {{ valorAtual }}</p>
      <p>Valor Salvo: {{ valorSalvo }}</p>

      <span
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight] = "isMouseOver">
        Passe o mouse sobre mim</span>

    </div>
  </article>
</section> -->
<!-- 
<section class="two-way-binding">
  <article>
    <h3>Two-way data-binding</h3>
    <div>
      <input type="text"
        [value]="nome"
        (input)="nome = $event.target.value">
     
      <input type="text"
        [ngModel]="nome"
        (ngModelChange)="nome = $event">

        

        <p>Você digitou: {{ nome }}</p>  
    </div>

    <div>
      <p>Meu nome é {{ pessoa.nome }} e tenho
        {{ pessoa.idade }} anos de idade
      </p>
      <input type="text" [(ngModel)]="pessoa.nome">
      <input type="text" [(ngModel)]="pessoa.idade">
    </div>
  </article>
</section> -->

<section class="input-output-properties">
  <article>
    <h3>Input/Output Properties</h3>

    <app-curso [nome]="nomeDoCurso"></app-curso>   
    
    <contador [valor]="valorInicial"
      (mudouValor)="onMudouValor($event)"
    ></contador>

  </article>
</section>



